.App {
  background-color: #d0d9f5;
  min-width: 100vw;
  min-height: 100vw;
  text-align: center;
}

#bg-img {
  display: block;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.App-header {
  background-color: #d0d9f5;
  min-height: 8vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}
